@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
  --primary-color: #2c3e50;
  --accent-color: #3498db;
  --text-color: #111;
  --text-link-color: #2300EB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  font-weight: 500;
  line-height: 1.2;
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

h2 {
  margin-left: 0.5rem;
  margin-bottom: 3rem;
  padding: 0.3rem 0rem 0.3rem 1rem;
  border-left: 5px solid rgba(0,0,0,0.25);
  font-size: 2rem;
}

h3 {
  margin-left: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0.3rem 0rem 0.3rem 1rem;
  border-left: 5px solid rgba(255,255,255,1.0);
  font-size: 1.5rem;
  font-weight: 400;
}

.bolder {
  font-weight: 600;
}

/* Header styles */
.home-header {
  padding: 0rem;
  background-image: url('/images/cream-bg.png');
  background-size: cover;
  background-position: center;
}

/* Navigation styles */


/* Hero section */

.hero-container {
  display: grid;
  grid-template-rows: 40px 1fr;
  margin: 0;
}

.top-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 40px;
}

.bottom-wrapper {
  display: flex;
  justify-content: center;
  padding: 0;
}

.bottom-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1024px; /* typical laptop breakpoint */
  width: 100%;
  padding: 0;
}

.left-column {
  padding: 2rem; /* Just in case, override defaults */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100%;
}

.right-column {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 2rem;
}

.logotype {
  display:block;
  font-family: 'Inter', sans-serif;
  font-size: 3.5rem;
  color:#000000;
}

.logotype .ian {
  letter-spacing: -0.1rem;
  font-weight: 500;
}

.logotype .allan {
  letter-spacing: -0.05rem;
  font-weight: 800;
}
.logotype .dot {
  letter-spacing: -0.4rem;
  color:#F89628;
}
.logotype .vote {
  letter-spacing: -0.1rem;
  color:#F89628;
}

.hero-blurb {
  padding-top: 1.2rem;
}
.hero-blurb p {
  font-style: italic;
  font-size: 1.1rem;
  line-height: 1.4rem;
}
.hero-blurb p .voteforme {
  font-weight: 900;
}

.hero-cta {
  padding-top: 1.3rem;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -0.051rem;
  font-family: 'Inter', sans-serif;

}

.hero-cta a {
  color: var(--text-link-color);
  text-decoration: underline;
}

.hero-nav {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.hero-nav ul li {
  display: inline;
  padding-right: 1rem;
}

.hero-nav ul li.active {
  position: relative;
}

.hero-nav ul li.active::after {
  content: "";
  position: absolute;
  bottom: -20px; /* adjust as needed to hang below */
  left: 50%;
  transform: translateX(-50%);
  width: 40px;  /* or your arrow image width */
  height: 24px;  /* or your arrow image height */
  background-image: url('/images/down-arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  filter: brightness(0) invert(1);
}


.baseline-img {
  width: 100%;
  height: auto;
  /* max-height: 600px */
  object-fit: contain;
  margin: 0;
  padding: 0;
  display: block; 
}


.top-content p {
  font-size: 0.8rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.top-content a {
  color: var(--text-link-color);
  text-decoration: underline;
}

.top-content a:hover {
  text-decoration: none;
}

.angle-divider {
  position: relative;
  pointer-events: none;
  width: 100%;
  height: 280px;
  margin-top: -160px;
  background-image: url('/images/angle-divider.svg'); /* your SVG file path */
  background-repeat: no-repeat;
  background-size: 100% 100%; /* stretch to fill both width and height */
  background-position: center;
}

.whatamithinking {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 25px 0 0;
  width: 100%;
  margin-top: -100px;
  background-color: #FFFFFF;
}

.waitcontainer {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1024px; /* typical laptop breakpoint */
  width: 100%;
  padding: 0;
}

.wait-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.wait-left p {
  margin-left: 0.8rem;
  padding: 0.3rem 0rem 0.8rem 1rem;
  line-height: 1.8rem;
  font-size: 1.2rem;

}
.waitright {
  display: flex;
}


/* Footer */
footer {
  text-align: center;
  padding: 2rem;
  background-color: var(--primary-color);
  color: white;
}


/* Tablet */
@media only screen and (min-width: 768px) {
  /* styles for tablets */


h2 {
  margin-left: 0.5rem;
  margin-bottom: 3rem;
  padding: 0.3rem 0rem 0.3rem 1rem;
  border-left: 5px solid rgba(0,0,0,0.25);
  font-size: 2rem;
}

h3 {
  margin-left: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0.3rem 0rem 0.3rem 1rem;
  border-left: 5px solid rgba(255,255,255,1.0);
  font-size: 1.5rem;
  font-weight: 400;
}


/* Header styles */
.home-header {
  padding: 0rem;
  background-image: url('/images/cream-bg.png');
  background-size: cover;
  background-position: center;
}


/* Hero section */

.hero-container {
  display: grid;
  grid-template-rows: 40px 1fr;
  margin: 0;
}

.top-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  height: 40px;
}

.bottom-wrapper {
  display: flex;
  justify-content: center;
  padding: 0;
}

.bottom-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1024px; /* typical laptop breakpoint */
  width: 100%;
  padding: 0;
}

.left-column {
  padding: 2rem; /* Just in case, override defaults */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100%;
}

.right-column {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 2rem;
}

.logotype {
  display:block;
  font-family: 'Inter', sans-serif;
  font-size: 3.5rem;
  color:#000000;
}

.logotype .ian {
  letter-spacing: -0.1rem;
  font-weight: 500;
}

.logotype .allan {
  letter-spacing: -0.05rem;
  font-weight: 800;
}
.logotype .dot {
  letter-spacing: -0.4rem;
  color:#F89628;
}
.logotype .vote {
  letter-spacing: -0.1rem;
  color:#F89628;
}

.hero-blurb {
  padding-top: 1rem;
}
.hero-blurb p {
  font-style: italic;
  font-size: 1.3rem;
  line-height: 1.6rem;
}
.hero-blurb p .voteforme {
  font-weight: 900;
}

.hero-cta {
  padding-top: 3.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -0.051rem;
  font-family: 'Inter', sans-serif;

}

.hero-cta a {
  color: var(--text-link-color);
  text-decoration: underline;
}

.hero-nav {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.hero-nav ul li {
  display: inline;
  padding-right: 1rem;
}

.hero-nav ul li.active {
  position: relative;
}

.hero-nav ul li.active::after {
  content: "";
  position: absolute;
  bottom: -20px; /* adjust as needed to hang below */
  left: 50%;
  transform: translateX(-50%);
  width: 40px;  /* or your arrow image width */
  height: 24px;  /* or your arrow image height */
  background-image: url('/images/down-arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  filter: brightness(0) invert(1);
}


.baseline-img {
  width: 100%;
  height: auto;
  /* max-height: 600px */
  object-fit: contain;
  margin: 0;
  padding: 0;
  display: block; 
}


.top-content p {
  font-size: 0.8rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.top-content a {
  color: var(--text-link-color);
  text-decoration: underline;
}

.top-content a:hover {
  text-decoration: none;
}

.angle-divider {
  position: relative;
  pointer-events: none;
  width: 100%;
  height: 280px;
  margin-top: -160px;
  background-image: url('/images/angle-divider.svg'); /* your SVG file path */
  background-repeat: no-repeat;
  background-size: 100% 100%; /* stretch to fill both width and height */
  background-position: center;
}

.whatamithinking {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
  margin-top: -100px;
  background-color: #FFFFFF;
}

.waitcontainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 1024px; /* typical laptop breakpoint */
  width: 100%;
  padding: 0;
}

.wait-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.wait-left p {
  margin-left: 0.8rem;
  padding: 0.3rem 0rem 0.8rem 1rem;
  line-height: 1.8rem;
  font-size: 1.2rem;

}
.waitright {
  display: flex;
}


/* Footer */
footer {
  text-align: center;
  padding: 2rem;
  background-color: var(--primary-color);
  color: white;
}

  

}

/* Desktop */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* styles for desktop devices */
}

/* Large Desktop */
@media only screen and (min-width: 1200px) {
  /* styles for large desktop devices */
}