@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --primary-color: #172533;
  --accent-color: #F89628;
  --text-color: #111;
  --text-link-color: #2300EB;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

h2 {
  margin-left: 0.7rem;
  margin-bottom: 1.5rem;
  padding: 0.3rem 0rem 0.3rem .6rem;
  border-left: 5px solid rgba(0,0,0,0.25);
  font-size: 1.5rem;
}

h3 {
  display: inline-block;
  margin-left: 0.8rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  padding: 0.4rem .8rem 0.4rem .7rem;
  background-color: #FFFF66;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(255, 255, 0, 0.3);
  border-left: 2px solid rgba(0,0,0,0.0);
  font-size: 1.3rem;
  font-weight: 400;
}

article {
  padding-bottom: 1rem;
}
article h3 {
 background: none;
 box-shadow: none;
 border: none;
 margin-top: 1.4rem;
 margin-bottom: 0.5rem;
 padding-bottom: 0.3rem;
}
article p.meta {
  padding-top: 0rem;
  font-style: italic;
  font-size: 1.0rem;
  color: #999999;
}


blockquote {
  padding: 0.4rem 0.8rem 0.4rem 0rem;
  margin-bottom: 0.8rem;
  line-height: 1.8rem;
  font-size: 1.2rem;
  font-style: italic;
  background-color: #FFFFEE;
}

.bolder {
  font-weight: 600;
}

/* Header styles */
.home-header {
  padding: 0rem;
  background-image: url('../images/cream-lines-bg.png');
  background-size: cover;
  background-position:calc(50% + 60px) center;
  background-repeat: none;
}

/* Navigation styles */


/* Hero section */

.hero-container {
  display: grid;
  grid-template-rows: 36px 1fr;
  margin: 0;
}

.enrol-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  height: 36px;
  background-color:#F89628;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.enrol-content p {
  font-size: 1.0rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.enrol-content a {
  color: #FFFFFF;
  text-decoration: underline;
}

.enrol-content a:hover {
  text-decoration: none;
}

.top-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  height: 36px;
  background-color: rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.1);

}

.bottom-wrapper {
  display: flex;
  justify-content: center;
  padding: 0;
}

.bottom-row {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1024px; /* typical laptop breakpoint */
  width: 100%;
  padding: 0;
}

.left-column {
  padding: 2rem 1.5rem 0rem 1.5rem; /* Just in case, override defaults */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100%;
}

.right-column {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 0rem;
}

.logotype {
  display:block;
  font-family: 'Inter', sans-serif;
  font-size: 2.8rem;
  color:#000000;
}

.logotype .ian {
  letter-spacing: -0.1rem;
  font-weight: 500;
}

.logotype .allan {
  letter-spacing: -0.05rem;
  font-weight: 800;
}
.logotype .dot {
  letter-spacing: -0.4rem;
  color:#F89628;
}
.logotype .vote {
  letter-spacing: -0.1rem;
  color:#F89628;
}

.hero-blurb {
  padding-top: 1.2rem;
}
.hero-blurb p {
  font-style: italic;
  font-size: 1.1rem;
  line-height: 1.4rem;
}
.hero-blurb p .voteforme {
  font-weight: 900;
}

.hero-cta {
  padding-top: 1.8rem;
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.051rem;
  font-family: 'Inter', sans-serif;

}

.hero-cta-sub {
  padding-top: 1.3rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 600;
  letter-spacing: -0.051rem;
  font-family: 'Inter', sans-serif;

}

.hero-cta a {
  color: var(--text-link-color);
  text-decoration: underline;
}

.hero-cta a:hover {
  text-decoration: none;
  color:#F89628;
}

.hero-cta-sub a {
  color: var(--text-link-color);
  text-decoration: underline;
  padding-right: 20px;
}
.hero-cta-sub a:hover {
  text-decoration: none;
  color:#F89628;
}

.hero-nav {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  letter-spacing: -0.051rem;
  font-size: 1.4rem;
  padding: 0rem 1.5rem 3rem 1.5rem;
}

.hero-nav ul li {
  display: inline-block;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.hero-nav ul li.active {
  position: relative;
}

.baseline-img {
  width: 100%;
  height: auto;
  /* max-height: 600px */
  object-fit: contain;
  margin: 0;
  padding: 0;
  display: block; 
}


.top-content p {
  font-size: 0.7rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.top-content a {
  color: var(--text-link-color);
  text-decoration: underline;
}

.top-content a:hover {
  text-decoration: none;
}




/* Page header styles */


.page-header {
  padding: 0rem;
  background-image: url('../images/cream-lines-bg.png');
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: overlay; /* or overlay, screen, etc. */
  background-size: cover;
  background-position: center;
}


.page-container {
  display: grid;
  grid-template-rows: 36px 1fr;
  margin: 0;
}

.page-top-row {
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 4px 4px 4px 4px;
  height: 36px;
  background-color: rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.pagebottom-wrapper {
  display: flex;
  justify-content: center;
  padding: 0;
}

.page-bottom-row {
  display: grid;
  grid-template-columns: 1fr 50px;
  max-width: 1024px; /* typical laptop breakpoint */
  width: 100%;
  padding: 0;
}

.page-left-column {
  padding: 0.5rem 1.5rem 3.5rem 1.5rem; /* Just in case, override defaults */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100%;
  background-image: url("../images/me.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;  
}

.no-bg {
  background-image: none !important;
}

.page-right-column {
  padding: 1.5rem 1.5rem 1rem 0.5rem; /* Just in case, override defaults */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: right;
  padding-top: 0rem;
}

.page-logotype {
  display:block;
  font-family: 'Inter', sans-serif;
  font-size: 2.2rem;
  color:#000000;
}

.page-logotype a {
  text-decoration: none;;
}

.page-logotype .ian {
  letter-spacing: -0.1rem;
  font-weight: 500;
  color: #000000;
}

.page-logotype .allan {
  letter-spacing: -0.05rem;
  font-weight: 800;
  color: #000000;
}
.page-logotype .dot {
  letter-spacing: -0.4rem;
  color:#F89628;
}
.page-logotype .vote {
  letter-spacing: -0.1rem;
  color:#F89628;
}

.page-nav {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  letter-spacing: -0.051rem;
  font-size: 1.4rem;
  padding: 0rem 1.5rem 4rem 1.5rem;
}

.page-nav ul li {
  display: block;
  padding: 0.2rem 0.2rem 0.2rem 0.0rem; 
}

.page-nav ul li a {
  color: var(--text-link-color);
  text-decoration: underline;
  padding-right: 20px;
}

.page-nav ul li a:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.page-nav ul li a.active {
  color: var(--text-color);
  text-decoration: none;
}

.page-top-content p {
  font-size: 0.7rem;
  padding-left: 0rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.page-top-content a {
  color: var(--text-link-color);
  text-decoration: underline;
}

.page-top-content a:hover {
  text-decoration: none;
}




.page-menu {
  display: none;
}

#hamburger-toggle {
  margin-top: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

#hamburger-menu {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

#hamburger-menu.expanded {
  max-height: 300px; /* Adjust based on menu height */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 1.5rem;
}

nav li {
  padding: 0.5rem 0;
}






.angle-divider {
  position: relative;
  pointer-events: none;
  width: 100%;
  height: 200px;
  margin-top: -140px;
  background-image: url('../images/angle-divider.svg'); /* your SVG file path */
  background-repeat: no-repeat;
  background-size: 100% 100%; /* stretch to fill both width and height */
  background-position: center;
}

.page-angle-divider {
  position: relative;
  pointer-events: none;
  width: 100%;
  height: 80px;
  margin-top: -120px;
  background-image: url('../images/angle-divider.svg'); /* your SVG file path */
  background-repeat: no-repeat;
  background-size: 100% 100%; /* stretch to fill both width and height */
  background-position: center;
}

.divider-shifted {
  margin-top: -60px !important;
}



.page-content {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 25px 3rem 0;
  width: 100%;
  margin-top: -10px;
  background-color: #FFFFFF;
}

.pc-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1024px; /* typical laptop breakpoint */
  width: 100%;
  padding: 0;
}

.pc-left {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.pc-left p {
  margin-left: 0.8rem;
  padding: 0.3rem 0rem 0.6rem 0.8rem;
  line-height: 1.8rem;
  font-size: 1.2rem;

}

.pc-left img {
  width: 100%;
  border-radius: 1rem;
}

.pc-left img.sunshine {
  width: 130px;
  float: left;
  margin-right: 0.7rem;
}

.pc-left ul {
  margin-left: 3rem;
  padding: 0.3rem 0rem 0.6rem 0.8rem;
  line-height: 1.8rem;
  font-size: 1.2rem;

}


.pc-left a {
  color: var(--text-link-color);
  text-decoration: underline;
}


.pc-left a:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.pc-right {
  display: none;
}

i.fab {
  font-weight: 400;
}

.fab.fa-linkedin {
  font-size: 24px;
  color: #0077b5;
}

.form-container {
  line-height: 1.8rem;
  font-size: 1.2rem;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.form-row {
  display: block;
  align-items: center;  
  margin-left: 1rem;
}

.form-row .col {
  display: flex;
  width: 100%;
  padding: 0rem 0rem 0.6rem 0.6rem;

}

.form-row input {
  font-size: 1.2rem;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #AAAAAA;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s ease;
  width: 100%;
}

.form-full {
  display: flex;
  width: 100%;
  padding: 0rem 0rem 0.6rem 1.6rem;
}

.form-full textarea {
  font-size: 1.2rem;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #AAAAAA;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s ease;
  width: 100%;
}

.form-container button {
  margin-left: 1.6rem;
  font-size: 1.2rem;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  border-radius: 5px;
  background-color: #F89628;
  border-left: 1px solid #f6a64d;
  border-top: 1px solid #f6a64d;
  border-right: 1px solid #d9780c;
  border-bottom: 1px solid #d9780c;
	box-shadow: 2px 2px 5px #CCCCCC;  
}



.whatamithinking {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 25px 3rem 0;
  width: 100%;
  margin-top: -60px;
  background-color: #FFFFFF;
}

.waitcontainer {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1024px; /* typical laptop breakpoint */
  width: 100%;
  padding: 0;
}

.wait-left {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.wait-left p {
  margin-left: 0.8rem;
  padding: 0.3rem 0rem 0.6rem 0.8rem;
  line-height: 1.8rem;
  font-size: 1.2rem;

}

.wait-left p a {
  color: var(--text-link-color);
  text-decoration: underline;
}

.wait-left p a:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.wait-left ul {
  margin-left: 3rem;
  padding: 0.3rem 0rem 0.6rem 0.8rem;
  line-height: 1.8rem;
  font-size: 1.2rem;

}

.wait-left p img {
  width: 100%;
  border-radius: 1rem;
}

.wait-right {
  display:none;
}


/* Footer */
footer {
  text-align: center;
  padding: 2rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 0.7rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

footer p a {
  color: white;
  text-decoration: none;
}
footer p a:hover {
  text-decoration: underline;
}


/* Tablet */
@media only screen and (min-width: 768px) {
  /* styles for tablets */


h2 {
  margin-left: 0.5rem;
  margin-bottom: 2rem;
  padding: 0.3rem 0rem 0.3rem 1rem;
  border-left: 5px solid rgba(0,0,0,0.25);
  font-size: 2rem;
}

h3 {
  display: inline-block;
  margin-left: 0.6rem;
  margin-bottom: 1.5rem;
  padding: 0.4rem 1.2rem 0.4rem 1.1rem;
  border-left: 2px solid rgba(0,0,0,0.0);
  font-size: 1.5rem;
  font-weight: 400;
}


/* Header styles */
.home-header {
  padding: 0rem;
  background-image: url('../images/cream-lines-bg.png');
  background-size: cover;
  background-position: center;
}


/* Hero section */

.hero-container {
  display: grid;
  grid-template-rows: 40px 1fr;
  margin: 0;
}

.top-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4px;
  height: 36px;
}

.bottom-wrapper {
  display: flex;
  justify-content: center;
  padding: 0;
}

.bottom-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1024px; /* typical laptop breakpoint */
  width: 100%;
  padding: 0;
}

.left-column {
  padding: 2rem; /* Just in case, override defaults */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100%;
}

.right-column {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 2rem;
}

.logotype {
  display:block;
  font-family: 'Inter', sans-serif;
  font-size: 3.5rem;
  color:#000000;
}

.logotype .ian {
  letter-spacing: -0.1rem;
  font-weight: 500;
}

.logotype .allan {
  letter-spacing: -0.05rem;
  font-weight: 800;
}
.logotype .dot {
  letter-spacing: -0.4rem;
  color:#F89628;
}
.logotype .vote {
  letter-spacing: -0.1rem;
  color:#F89628;
}

.hero-blurb {
  padding-top: 1rem;
}
.hero-blurb p {
  font-style: italic;
  font-size: 1.3rem;
  line-height: 1.6rem;
}
.hero-blurb p .voteforme {
  font-weight: 900;
}



.hero-cta {
  padding-top: 3.2rem;
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 600;
  letter-spacing: -0.051rem;
}

.hero-cta-sub {
  padding-top: 1.6rem;
  padding-bottom: 5rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 600;
  letter-spacing: -0.051rem;
}

.hero-cta-sub a {
  color: var(--text-link-color);
  text-decoration: underline;
  padding-right: 20px;
}
.hero-cta-sub a:hover {
  text-decoration: none;
  color:#F89628;
}


.hero-nav {
  font-size: 0.9rem;
  padding: 2rem 1.5rem 3rem 1.5rem;
}

.hero-nav ul li {
  display: inline;
  padding-right: 1rem;
}

.hero-nav ul li.active {
  position: relative;
}


.baseline-img {
  width: 100%;
  height: auto;
  /* max-height: 600px */
  object-fit: contain;
  margin: 0;
  padding: 0;
  display: block; 
}


.top-content p {
  font-size: 0.8rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.top-content a {
  color: var(--text-link-color);
  text-decoration: underline;
}

.top-content a:hover {
  text-decoration: none;
}

.angle-divider {
  position: relative;
  pointer-events: none;
  width: 100%;
  height: 280px;
  margin-top: -160px;
  background-image: url('../images/angle-divider.svg'); /* your SVG file path */
  background-repeat: no-repeat;
  background-size: 100% 100%; /* stretch to fill both width and height */
  background-position: center;
}

.whatamithinking {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0;
  padding-bottom: 3rem;
  width: 100%;
  margin-top: -100px;
  background-color: #FFFFFF;
}

.waitcontainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 1024px; /* typical laptop breakpoint */
  width: 100%;
  padding: 0;
}

.wait-left {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.wait-left p {
  margin-left: 0.8rem;
  padding: 0.3rem 0rem 0.8rem 1rem;
  line-height: 1.8rem;
  font-size: 1.2rem;

}

.wait-right {
  display: block;
  position: sticky;
  top: 0rem;
  font-family: "Inter", sans-serif;
  padding-top: 4.7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  align-self: start;
}

.wait-right h4 {
  padding: 0.8rem 0.6rem 0.4rem 0.6rem;
  line-height: 1.6rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.wait-right ul {
  display: block;
}

.wait-right ul li {
  padding: 0.8rem 0.6rem 0.8rem 0.6rem;
  line-height: 1.6rem;
  font-size: 1.2rem;
  list-style-type: none;
}

.wait-right ul li + li {
  border-top: 1px solid rgba(0,0,0,0.1);
}

.wait-right ul li a {
  color: var(--text-link-color);
  text-decoration: none;

}

.wait-right ul li a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.wait-right ul li a.active {
  color: var(--text-color);
  text-decoration: none;
}


.page-top-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4px;
  height: 36px;
}



.page-bottom-wrapper {
  display: flex;
  justify-content: center;
  padding: 0;
}

.page-bottom-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1024px; /* typical laptop breakpoint */
  width: 100%;
  padding: 0;
}

.page-left-column {
  padding: 2rem; /* Just in case, override defaults */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100%;
  background-image: url("../images/me.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;  
}

.page-right-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 2rem;
}




.page-menu {
  display: block;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  letter-spacing: -0.051rem;
  font-size: 1.2rem;
  padding: 2rem 1.5rem 0.5rem 1.5rem;
}

.page-menu ul li {
  display: inline;
  padding: 0.2rem 0.0rem 0.2rem 1rem; 
}

.page-menu ul li a {
  color: var(--text-link-color);
  text-decoration: underline;

}

.page-menu ul li a:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.page-menu ul li a.active {
  color: var(--text-color);
  text-decoration: none;
}





#hamburger-toggle {
  display:none;
}

#hamburger-menu {
  display: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

#hamburger-menu.expanded {
  max-height: 300px; /* Adjust based on menu height */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 1.5rem;
}

nav li {
  padding: 0.5rem 0;
}




.page-angle-divider {
  position: relative;
  pointer-events: none;
  width: 100%;
  height: 140px;
  margin-top: -120px;
  background-image: url('../images/angle-divider.svg'); /* your SVG file path */
  background-repeat: no-repeat;
  background-size: 100% 100%; /* stretch to fill both width and height */
  background-position: center;
}






.page-content {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0;
  padding-bottom: 3rem;
  width: 100%;
  margin-top: -20px;
  background-color: #FFFFFF;
}

.pc-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 1024px; /* typical laptop breakpoint */
  width: 100%;
  padding: 0;
}

.pc-left {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.pc-left p {
  margin-left: 0.8rem;
  padding: 0.3rem 0rem 0.8rem 1rem;
  line-height: 1.8rem;
  font-size: 1.2rem;

}
.pc-right {
  display: flex;
}

.pc-right {
  display: block;
  position: sticky;
  top: 0rem;
  font-family: "Inter", sans-serif;
  padding-top: 4.7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  align-self: start;
}

.pc-right h4 {
  padding: 0.8rem 0.6rem 0.4rem 0.6rem;
  line-height: 1.4rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.pc-right ul {
  display: block;
}

.pc-right ul li {
  padding: 0.8rem 0.6rem 0.8rem 0.6rem;
  line-height: 1.4rem;
  font-size: 1.1rem;
  list-style-type: none;
}

.pc-right ul li + li {
  border-top: 1px solid rgba(0,0,0,0.1);
}

.pc-right ul li a {
  color: var(--text-link-color);
  text-decoration: none;

}

.pc-right ul li a.page-link {
  color: var(--text-link-color);
  text-decoration: underline;

}

.pc-right ul li a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.pc-right ul li a.page-link:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.pc-right ul li a.active {
  color: var(--text-color);
  text-decoration: none;
}




.form-container {
  line-height: 1.8rem;
  font-size: 1.2rem;
  width: 100%;
  padding-bottom: 3rem;
}

.form-row {
  display: flex;
  align-items: center;  
  margin-left: 1rem;
}

.form-row .col {
  display: flex;
  width: 100%;
  padding: 0rem 0rem 0.6rem 0.6rem;

}

.form-row input {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}












/* Footer */
footer {
  text-align: center;
  padding: 2rem;
  background-color: var(--primary-color);
  color: white;
}

  

}

/* Desktop */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* styles for desktop devices */
}

/* Large Desktop */
@media only screen and (min-width: 1200px) {
  /* styles for large desktop devices */
}