---
layout: layouts/home.njk
title: Home
---



<header class="home-header">
  <div class="hero-container">
    <div class="top-row">
      <div class="top-content">
        <p>I'm not on social media but you can still <strong><a href="#" id="nativeShare">share this page</a></strong>.</p>
      </div>
    </div>
    <div class="bottom-wrapper">
      <div class="bottom-row">
        <div class="left-column">
          <div class="logotype">
            <span class="ian">ian</span><span class="allan">allan</span><span class="dot">.</span><span class="vote">vote</span>
          </div>
          <div class="hero-blurb">
            <p>I'd love for you to <span class="voteforme">vote for me</span> to be your councillor on the Gisborne District Council.</p>
          </div>
          <div class="hero-cta">
            <p><a href="#whatamithinking">What am I thinking?</a> &darr;</p>
          </div>
          <div class="hero-cta-sub">
            <p><a href="about/">Why me?</a><a href="blog/">Diary</a><a href="contact/">Contact</a></p>
          </div>
        </div>
        <div class="right-column">
          <img src="images/me.png" alt="Descriptive Alt" class="baseline-img" />
        </div>
      </div>
    </div>
  </div>
</header>
<div class="angle-divider"> 
</div>
<div id="whatamithinking" class="whatamithinking">
  
  <div class="waitcontainer">
    
    <div class="wait-left">
      <h2>A new abundance, built on place, not things</h2>
      <p>A place where richness comes from local pride, time outdoors, helping each other, and energising work in useful industries. An insulated place that's worth staying in and returning to.</p>
      <h3>Pride of place</h3>
      <p><strong>We may not have the riches yet, but we can live rich lives.</strong></p>
      <p>I'm reminded of the city pride we had when I browse through old copies of the Photo News. Proud of our beaches, proud of our rivers, proud of our streetscapes, proud of each other.</p>
      <p>There are sparks: Kiwa Pools, the surf clubs, skate parks and pump tracks, local sports facilities, farmer's market, and busy use of our walkways.</p>
      <p>Other visible well-trodden areas are sad: our city beaches, our city buildings, our city roads, our cleanliness.</p>
      <p><strong>Let's continue to boost active outdoor recreation and mobility.</strong></p>
      <p><strong>And let's uphold a social license to operate, whether it's an absentee landlord or a foreign forestry company.</strong></p>
      <h3>A place worth staying in, a place worth returning to</h3>
      <p><strong>If we're not setting up this place for our children to live energising useful adult lives here, then what is the point in any of this?</strong></p>
      <p>It goes for everyone; not just council, but each other, and big business. What are we leaving behind? A mess for our children to clean up? Or are we leaving better public amenities for those that follow?</p>
      <p>We have incredible people choosing to pursue world-leading education, research, and industrial innovations right here; Mātai, Rāngai, Leaderbrand, EIT, Pultron, Tōnui Collab, even the Environment Centre to name just a few.</p>
      <p>There is surely an opportunity to support and encourage our leaders and innovators to be long-term catalysts for joined-up, fairly distributed regional wealth.</p>
      <p><strong>It's not just about jobs. It is local ownership and reinvestment in public amenity that generates real regional wealth.</strong></p>
      <h3>A self-sufficient and resilient place</h3>
      <p><strong>Right now there is very little economic incentive for households to be self-sufficient and resilient.</strong></p>
      <p>If anything, investing in self-sufficiency makes you feel worse off. Think about water. Pretty sure our farmers feel like they get a raw deal too.</p>
      <p>A thing I admired about old Green leader Russel Norman was he recognised so clearly that the most effective way of getting society to be resourceful, less wasteful, was to pull on economic levers.</p>
      <ul>
        <li>If you want ratepayers to spend less maintaining pipes, encourage them to use water well, or collect their own, by rewarding them for it.</li>
        <li>If you want ratepayers to spend less maintaining roads, look for less heavy use of them.</li> 
        <li>If you want ratepayers to use their land more productively &mdash; e.g., extra accommodation for workers, renters, nan &mdash; maybe just rate the land.</li>
      </ul>
      <p><strong>There are economic formulas that set the right incentives for sustainable development.</strong></p>
      <h3>Other things</h3>
      <p>For other things I'm thinking about, my Diary here will grow as we go.</p>
      <p>And if you've made it this far, it might be worth reading <strong><a href="about/">Why me?</a></strong>.</p>
    </div>
    <div class="wait-right">

    </div>

  </div>

</div>

