---
layout: layouts/home.njk
title: Home
---



<header class="home-header">
  <div class="hero-container">
    <div class="top-row">
      <div class="top-content">
        <p>I'm not on social media but you can still <strong><a href="#" id="nativeShare">share this page</a></strong>.</p>
      </div>
    </div>
    <div class="bottom-wrapper">
      <div class="bottom-row">
        <div class="left-column">
          <div class="logotype">
            <span class="ian">ian</span><span class="allan">allan</span><span class="dot">.</span><span class="vote">vote</span>
          </div>
          <div class="hero-blurb">
            <p>I'd love for you to <span class="voteforme">vote for me</span> to be your councillor on the Gisborne District Council.</p>
          </div>
          <div class="hero-cta">
            <p><a href="#whatamithinking">What am I thinking?</a> &darr;</p>
          </div>
          <div class="hero-cta-sub">
            <p><a href="about/">Why me?</a><a href="blog/">Diary</a><a href="contact/">Contact</a></p>
          </div>
        </div>
        <div class="right-column">
          <img src="images/me.png" alt="Descriptive Alt" class="baseline-img" />
        </div>
      </div>
    </div>
  </div>
</header>
<div class="angle-divider"> 
</div>
<div id="whatamithinking" class="whatamithinking">
  
  <div class="waitcontainer">
    
    <div class="wait-left">
      <h2>What am I thinking?</h2>
      <h3>About <span class="bolder">city pride</span></h3>
      <p>I think a lot about a lot of things, but these are the things out front...</p>
      <p>[Coming in time for public release!]</p>
    </div>
    <div class="wait-right">

    </div>

  </div>

</div>

