
<body style="margin:0;">
<div id="pdf-viewer" style="height: 100vh;"></div>
<script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
<script>
  document.addEventListener("adobe_dc_view_sdk.ready", function () {
    var adobeDCView = new AdobeDC.View({
      clientId: "a582e0124e8c4da099373b2f6a9af271",
      divId: "pdf-viewer"
    });
    adobeDCView.previewFile({
      content: {
        location: {
          url: "https://ianallan.vote/images/seachange.pdf"
        }
      },
      metaData: {
        fileName: "seachange.pdf"
      }
    }, {
      embedMode: "FULL_WINDOW"
    });
  });
</script>
</body>