---
layout: layouts/layout.njk
title: Diary
---

<h2>Dear diary</h2>
<p>Check here regularly for more ideas, responses to queries, and where I'll be out and about.</p>

{% set posts = collections.posts | reverse %}
{% for post in posts %}
  <article>
    <h3 id="{{ post.data.title | slugify }}"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
    {% if post.data.isEvent %}
    <p><strong>On {{ post.data.eventDate | date("MMMM D, YYYY") }}</strong></p>
    {% endif %}
    <p>{{ post.data.excerpt }}</p>
    <p class="meta">Posted: <strong>{{ post.date | date("MMMM D, YYYY") }}</strong></p>
  </article>
{% endfor %}
