<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Heart on sleeve, head screwed on. For a new abundance built on place, not things, vote Ian Allan.">
  <meta name="keywords" content="Gisborne, Council, vote, Ian, Allan, 2025, values, competence, experience, pride, care, wealth, community">
  <meta name="author" content="Ian Allan">
  <meta name="robots" content="index, follow">

  <title>{% if page.title %}{{ page.title }} | {% endif %}Ian Allan for Gisborne District Council</title>
  <link rel="stylesheet" href="css/custom.css">
  <script src="js/custom.js" defer></script>

  <link rel="icon" href="images/favicon.png" type="image/x-icon">

  <!-- Open Graph (used by Facebook, LinkedIn, etc.) -->
  <meta property="og:title" content="Ian Allan for Gisborne District Council">
  <meta property="og:description" content="I'd love for you to vote for Ian Allan to be your councillor on the Gisborne District Council.">
  <meta property="og:image" content="https://ianallan.vote/images/ianallan-social.jpg">
  <meta property="og:url" content="https://ianallan.vote">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Ian Allan for Gisborne District Council">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Ian Allan for Gisborne District Council">
  <meta name="twitter:description" content="I'd love for you to vote for Ian Allan to be your councillor on the Gisborne District Council.">
  <meta name="twitter:image" content="https://ianallan.vote/images/ianallan-social.jpg">


</head>

<body>

  {{ content | safe }}

<div class="enrol-row">
  <div class="enrol-content">
    <p><strong>Are you enrolled to vote? <a href="https://vote.nz/enrolling/enrol-or-update/enrol-or-update-online/" target="_blank">Check now!</a></strong></p>
  </div>
</div>

<footer>
    <p>&copy; {{ 'now' | date('Y') }} Ian Allan 2025. All Rights Reserved.</p>
    <p>Authorised by Ian Allan, <a href="mailto:ian.allan.nz@gmail.com">ian.allan.nz@gmail.com</a>.</p>
  </footer>
</body>

</html>