{% set currentUrl = page.url %}
{% set headings = content | safe | extractHeadings %}
{% set posts = collections.posts | reverse %}
{% set eventPosts = collections.events %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords"
    content="Gisborne, Council, vote, Ian, Allan, 2025, values, competence, experience, pride, care, wealth, community">
  <meta name="author" content="Ian Allan">
  <meta name="robots" content="index, follow">

  <title>{% if title %}{{ title }} | {% endif %}Ian Allan for Gisborne District Council</title>
  <link rel="stylesheet" href="/css/custom.css">

  <script src="/js/custom.js" defer></script>

  <link rel="icon" href="/images/favicon.png" type="image/x-icon">

  <!-- Open Graph (used by Facebook, LinkedIn, etc.) -->
  <meta property="og:title"
    content="{% if title %}{{ title }} | {% endif %}Ian Allan for Gisborne District Council">
  <meta property="og:description"
    content="{% if excerpt %}{{ excerpt }}{% else %}I'd love for you to vote for Ian Allan to be your councillor on the Gisborne District Council.{% endif %}">
  <meta property="og:image" content="https://ianallan.vote/images/ianallan-social.jpg">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Ian Allan for Gisborne District Council">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{% if title %}{{ title }} | {% endif %}Ian Allan for Gisborne District Council">
  <meta name="twitter:description"
    content="{% if excerpt %}{{ excerpt }}{% else %}I'd love for you to vote for Ian Allan to be your councillor on the Gisborne District Council.{% endif %}">
  <meta name="twitter:image" content="https://ianallan.vote/images/ianallan-social.jpg">

</head>

<body>
  <div class="over-here-row">
  <div class="over-here-content">
    <p><strong><a href="https://ianallannz.github.io">You can now find me over here at ianallannz.github.io</a></strong></p>
  </div>
</div>

  <header class="page-header">
    <div class="page-container">
      {# <div class="top-row-final-call">
        <div class="top-content-final-call">
          <p><strong><a href="/blog/final-call-vote/" title="Final call: Vote! Please">Final call: Vote like you mean
                it!</a></strong>
          </p>
        </div>
      </div> #}
      <div class="page-top-row">
        <div class="page-top-content">
          <p><a href="/blog/that-not-being-on-social-media-thing/" title="About trying to steer clear of social media"
              class="not-on-social-link">I'm not on social media</a> but you can still <strong><a href="#"
                id="nativeShare">share this
                page</a></strong>.</p>
        </div>
      </div>
      <div class="page-bottom-wrapper">
        <div class="page-bottom-row">
          <div class="page-left-column">
            <div class="page-logotype">
              <a href="/"><span class="ian">ian</span><span class="allan">allan</span><span class="dot">.</span><span
                  class="vote">vote</span></a>
            </div>

          </div>
          <div class="page-right-column">
            <button id="hamburger-toggle" aria-label="Toggle menu">
              ☰
            </button>
            <nav class="page-menu">
              <ul>
                <li><a href="/">What am I thinking?</a></li>
                <li><a href="/about/" class="{{ 'active' if '/about/' in currentUrl }}">Why me?</a></li>
                <li><a href="/blog/" class="{{ 'active' if '/blog/' in currentUrl }}">Diary</a></li>
                <li><a href="/contact/" class="{{ 'active' if '/contact/' in currentUrl }}">Contact</a></li>
              </ul>
            </nav>


          </div>
        </div>
      </div>
      <div class="page-nav">
        <nav id="hamburger-menu" class="collapsed">
          <ul>
            <li><a href="/">What am I thinking?</a></li>
            <li><a href="/about/" class="{{ 'active' if '/about/' in currentUrl }}">Why me?</a></li>
            <li><a href="/blog/" class="{{ 'active' if '/blog/' in currentUrl }}">Diary</a></li>
            <li><a href="/contact/" class="{{ 'active' if '/contact/' in currentUrl }}">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class="page-angle-divider">
  </div>
  <div class="page-content">

    <div class="pc-container">

      <div class="pc-left">
        {% if isPost %}
        <p class="post-date">Posted: {{ page.date | date("dd MMMM yyyy") }}</p>
        {% endif %}

        {{ content | safe }}

      </div>
      <div class="pc-right">
        {% if isPost %}
        <h4>Other diary entries</h4>
        <ul>
          {% for post in posts %}
          {% if post.url != page.url and not post.data.attended %}
          <li>
            <a class="page-link" href="{{ post.url }}">{{ post.data.title }}</a>
          </li>
          {% endif %}
          {% endfor %}

        </ul>
        {% else %}
        {% if title == "Diary" %}
        <h4>Events</h4>
        <ul>
          {% for post in collections.events %}
          <li>
            <a class="page-link{% if post.data.attended %} done{% endif %}" href="{{ post.url }}">{{ post.data.title
              }}</a><br>
            <span style="display:inline-block;padding-top:0.4rem;" {% if post.data.attended %} class="done" {% endif %}>
              {{ post.data.eventDate | date("MMMM D, YYYY") }}
            </span>
          </li>
          {% endfor %}


        </ul>

        {% else %}
        <h4>{{ title }}</h4>
        <ul>
          {% for heading in headings %}
          <li>
            <a href="#{{ heading.id }}">{{ heading.text }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endif %}

      </div>

    </div>

  </div>



  <div class="enrol-row">
    <div class="enrol-content">
      <p><strong>Are you enrolled to vote? <a href="https://vote.nz/enrolling/enrol-or-update/enrol-or-update-online/"
            target="_blank">Check now!</a></strong></p>
    </div>
  </div>

  <footer>
    <p>&copy; {{ 'now' | date('Y') }} Ian Allan 2025. All Rights Reserved.</p>
    <p>Authorised by Ian Allan, <a href="mailto:ian.allan.nz@gmail.com">ian.allan.nz@gmail.com</a>.</p>
  </footer>
</body>

</html>